html, body
{
  height: 100%;

  margin: 0;
}

#main-section
{
  background-color: rgb(97, 223, 181);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#start-reset-game
{
  font-size: 3em;

  user-select: none;
  cursor: pointer;
}

#start-reset-game:hover
{
  text-shadow: -2.5px 5px 5px rgb(46, 131, 102);
}

#game-div
{
  background-color: white;
  width: 40%;
  height: 80%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border-left: 3px solid black;
  border-top: 3px solid black;
}

.square
{
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.square:hover
{
  cursor: pointer;
}

.square div
{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.square img
{
  min-width: 8rem;
  max-width: 8rem;
}